{% extends "@BirkTwig/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <a id="header" href="{{ path('homepage') }}">xyz////</a>

            <div id="conteneur">
                {% block content %}

                {% endblock %}
            </div>
    </main>
{% endblock %}