{% extends "@BirkTwig/home.html.twig" %}

{% block content %}

    {% for d in data %}
        <div id="element">
            <img src="{{ d.imageUrl }}">
            <h2>{{ d.titre }}</h2>
            <p>{{ d.contenu }}</p>
            <a href="{{ path('birk_news_news_newsdetail')~'/'~d.id}}">lire la suite</a>
        </div>
    {% endfor %}

{% endblock %}